{% extends "layout.html" %}

{% block title %}
    New Tweet
{% endblock %}

{% block content %}
    <h1 class="text-center">Welcome to our Django Project</h1>

    <!-- Button to create a tweet -->
    <a class="btn btn-primary" href="{% url 'tweet_create' %}">Create a Tweet</a>

    <!-- Display tweets -->
    <div class="container row gap-3 mt-4">
        {% for tweet in tweets %}
            <div class="card" style="width: 18rem;">
                {% if tweet.photo %}
                    <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ tweet.user.username }}</h5>
                    <p class="card-text">{{ tweet.text }}</p>
                    <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        {% empty %}
            <p>No tweets available. Be the first to <a href="{% url 'tweet_create' %}">create one</a>!</p>
        {% endfor %}
    </div>
{% endblock %}
